<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Lab6</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>website</param-name>
		<param-value>https://github.com/spd61185</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>helloServlet</servlet-name>
		<servlet-class>com.satishlabs.HelloServlet</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>satish@gmail.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name> </servlet-name>
		<servlet-class>com.satishlabs.HaiServlet</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>Shrikanth@gmail.com</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>haiServlet</servlet-name>
		<url-pattern>/hai</url-pattern>
	</servlet-mapping>

</web-app>