<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://JAVA.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Lab18</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>serarchServlet</servlet-name>
		<servlet-class>com.satishlabs.SearchBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serarchServlet</servlet-name>
		<url-pattern>/searchbook</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addToCartServlet</servlet-name>
		<servlet-class>com.satishlabs.AddToCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addToCartServlet</servlet-name>
		<url-pattern>/addcart</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>showCartServlet</servlet-name>
		<servlet-class>com.satishlabs.ShowCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showCartServlet</servlet-name>
		<url-pattern>/showcart</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>removeFromCart</servlet-name>
		<servlet-class>com.satishlabs.RemoveFromCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>removeFromCart</servlet-name>
		<url-pattern>/removecart</url-pattern>
	</servlet-mapping>
</web-app>