<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Lab23</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>demoServlet</servlet-name>
  	<servlet-class>com.satishlabs.DemoServlet</servlet-class>
  	<init-param>
  		<param-name>city</param-name>
  		<param-value>Bangalore</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>demoServlet</servlet-name>
  	<url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>demoFilter</filter-name>
  	<filter-class>com.satishlabs.DemoFilter</filter-class>
  	<init-param>
  		<param-name>city</param-name>
  		<param-value>Ranchi</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>demoFilter</filter-name>
  	<url-pattern>/demo</url-pattern>
  </filter-mapping>
</web-app>